@font-face {
	font-family: "Hunger Games";
	src: url('/assets/Hunger_Games');
}

body {
	margin: 42px;
}

h1 {
	font-size: 3.5em;
	font-family: "Hunger Games", "Arial Black", sans-serif;
}

.homepage-projects {
	font-size: 0.75em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
	font-size: 0.75em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

